extends baseEmail

block content
  h1.greeting Reset your password
  p.text Hi #{firstName}, we received a request to reset the password for your EventFlow account.
  p.text Click the button below to choose a new password. This link is valid for 10 minutes.

  .btn-wrap
    a.btn(href=resetURL) Reset my password

  hr.divider
  p.note
    | If you didn't request a password reset, no action is needed — your password won't be changed.
    br
    | Can't click the button? Copy this link:
    br
    a(href=resetURL style="word-break:break-all; font-size:12px;")= resetURL
